<!--
 * Copyright (C) 2014 XiaoXia(http://xiaoxia.de/)
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.xiaoxia.xstatusbarlunardate"
    android:versionCode="26"
    android:versionName="0.13.7" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault"
        android:logo="@drawable/ic_launcher">
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposeddescription" android:value="@string/description" />
        <meta-data android:name="xposedminversion" android:value="30"/>
        <activity android:name="Setting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
                <category android:name="android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
        <activity android:name="SettingCustomLunar" android:parentActivityName="Setting">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="Setting" />
        </activity>
        <activity android:name="SettingCustomSolar" android:parentActivityName="Setting">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="Setting" />
        </activity>
    </application>
</manifest>
