<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.xiaoxia.xstatusbarlunardate"
    android:versionCode="20"
    android:versionName="0.13.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault"
        android:logo="@drawable/ic_launcher">
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposeddescription" android:value="@string/description" />
        <meta-data android:name="xposedminversion" android:value="30"/>
        <activity android:name="Setting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
                <category android:name="android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
        <activity android:name="SettingCustomLunar" android:parentActivityName="Setting">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="Setting" />
        </activity>
        <activity android:name="SettingCustomSolar" android:parentActivityName="Setting">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="Setting" />
        </activity>
    </application>
</manifest>
